{
  "rules": {
    "camelcase": [2, {"properties": "never"}],
    "complexity": [2, 8],
    "max-depth": [2, 5],
    "max-len": [2, 120, 2],
    "max-params": [2, 4],
    "quotes": [2, "single"],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "valid-jsdoc": [0],
    "linebreak-style": [0, "unix"],
    "new-cap": [2, {"capIsNewExceptions": ["express.Router"]}],
    "quote-props": [2, "as-needed"]
  },
  "env": {
    "node": true
  },
  "extends": "google",
  "ecmaFeatures": {
    "jsx": true
  },
  "root": true
}
